.resetPW-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: Arial, sans-serif;
}

.resetPW-content {
    max-width: 350px;
    width: 100%; 
    text-align: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    /* margin-bottom: 15px; */
}

.lock {
    margin: 0 auto 30px; 
    margin-top: 30px;
    display: block;
}

/* 내부 콘텐츠 스타일 */
.resetPW-content > * {
    max-width: 300px; /* 내부 콘텐츠 최대 폭 제한 */
    margin: 0 auto; 
    margin-bottom: 15px;
}

.password-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.password-text {
    font-size: 14px;
    color: #7e7e7e;
}

/* 입력 필드 스타일 */
.resetPW-inputWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:20px;
    margin-bottom: 15px;
}

.resetPW-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
    box-sizing: border-box;
    margin-bottom: 5px;
}

/* 인증번호 발송 버튼 스타일 */
.resetPW-submitButton {
    width: 100%;
    padding: 8px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 3px;
}

.resetPW-submitButton:disabled {
    background-color: #b2dffc;
}

.resetPW-problem{
    font-size: 12px;;
    margin-bottom: 20px;
}

.resetPW-problem a{
    color: #195185;
    text-decoration: none;
}

.resetPWToSignup {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 70px;
}

.resetPWToSignup a {
    color: rgb(44, 44, 44);
    text-decoration: none;
}

.resetPWToSignup a:hover {
    color: grey;
}

.return-to-login {
    max-width: 395px;
    width: 100%; 
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding: 0;
}

.return-to-login-button {
    width: 100%;
    box-sizing: border-box; /* padding과 border를 포함해 크기를 100%로 계산 */
    padding: 13px;
    border: 1px solid #f8f9fa;
    margin: 0; 
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #242424;
}

.return-to-login-button:hover {
    color: grey;
}
