.admin-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.admin-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 700px;
}

.admin-card {
    display: flex; /* Flexbox 적용 */
    flex-direction: row; /* 가로 정렬 */
    align-items: center;
    gap: 20px; /* 제목과 버튼 간의 간격 */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease;
    gap: 10px;
}

.admin-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.admin-card p span {
    font-weight: bold;
    color: #333;
}

.admin-title-area{
    width: 100%;
    max-width:200px;
}

.admin-title {
    width: 100%; /* 너비를 100%로 설정하여 영역을 고정 */
    color: #3e9ef7;
    cursor: pointer;
    transition: color 0.2s;
    font-size: 20px;
    text-align: center;
}

.admin-title:hover {
    color: #1b41eb;
    text-decoration: underline;
}

.admin-item {
    width: 100%;
    display: flex; /* Flexbox 적용 */
    justify-content: center; /* 가로 가운데 정렬 */
    gap: 30px; /* 아이템 간격 */
}

.admin-item p {
    color: #000000; /* 글자색 */
    padding: 8px 12px; /* 안쪽 여백 */
    border-radius: 4px; /* 모서리 둥글게 */
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    transition: background-color 0.3s ease;
}

.admin-item p:hover {
    color:#1b41eb;
}

@media (max-width: 768px) {
    .admin-wrapper {
        width: 90%; /* 작은 화면에서 너비 확장 */
    }
}
