/* 전체 페이지 스타일 */
.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

/* 제목 스타일 */
.edit-profile h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #262626;
  text-align: center;
}

/* 폼 스타일 */
.edit-profile form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 90%;
  background: none;
  padding: 20px;
  box-sizing: border-box;
}

/* 입력 필드 스타일 */
.edit-profile input {
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  font-size: 1.3rem;
  outline: none;
  transition: border 0.3s ease;
}

.edit-profile input[type="text"]:focus,
.edit-profile input[type="file"]:focus {
  border: 1px solid #a8a8a8;
}

.edit-profile input::placeholder {
  color: #999;
}

/* 버튼 스타일 */
.edit-profile button {
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 20px;
  font-size: 1.2rem;

  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.edit-profile button:hover {
  background-color: #0077cc;
}

.edit-profile button:disabled {
  background-color: #b2dffc;
  cursor: not-allowed;
}

/* 로딩 및 에러 메시지 */
.edit-profile div {
  font-size: 1rem;
  color: #ed4956;
  margin-top: 15px;
  text-align: center;
}

/* 이미지 업로드 스타일 */
.edit-profile input[type="file"] {
  background: #fafafa;
  cursor: pointer;
  padding: 10px;
}

.edit-profile input[type="file"]::-webkit-file-upload-button {
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
}

.edit-profile input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #0077cc;
}
