/* 전체 페이지 스타일 */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: Arial, sans-serif;
}
  
.login-content {
    max-width: 350px;
    width: 100%; 
    text-align: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    margin-bottom: 15px;
}

/* 내부 콘텐츠 스타일 */
.login-content > * {
    max-width: 300px; /* 내부 콘텐츠 최대 폭 제한 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* Instagram 로고 */
.login-instalogo {
    width: 170px; 
    margin: 0 auto 30px; 
    margin-top: 30px;
    display: block;
    cursor: pointer;
}

/* 입력 필드 스타일 */
.login-inputWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    box-sizing: border-box;
}
  
/* 로그인 버튼 스타일 */
.login-submitButton {
    width: 100%;
    padding: 10px;
    margin-top:10px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-submitButton:disabled {
    background-color: #b2dffc;
}

/* 구분선 */
.divider {
    margin: 20px 0;
    position: relative;
    font-size: 14px;
    color: #8e8e8e;
}

.divider:before,
.divider:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #dbdbdb;
}

.divider:before {
    left: 0;
}

.divider:after {
    right: 0;
}

/* 비밀번호 찾기 링크 */
.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color: #385185;
    text-decoration: none;
}

/* 가입하기 섹션 */
.moveToSignup {
    max-width: 350px;
    width: 100%; 
    text-align: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
}

/* signup, login content 부분 동일한 스타일로 설정 */
.moveToSignup-content {
    display: center;
    font-size: 14px;
}

.moveToSignup-content a {
    color: #3897f0;
    font-weight: bold;
    text-decoration: none;
}

/* 앱 다운로드 섹션 */
.app-download-section {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    flex-direction: column;
    text-align: center;
}
  
.app-links{
    display: flex;
    width: 120px;
    margin-top: 20px;
    justify-content: center;
}

.google-play,
.microsoft-store {
    width: 100px; 
    cursor: pointer; 
    margin-right: 5px;
}
  
