/* 전체 페이지 스타일 */
.notifications-page {
    margin-left: 55px; /* 왼쪽 60px 여백 */
    overflow: hidden; /* 스크롤 숨기기 */
    padding: 20px; /* 안쪽 여백 */
    height: 100%; /* 화면 전체 높이 */
    box-sizing: border-box; /* 패딩 포함하여 크기 계산 */
} 

.notifications-content {
    width: 500px; 
    height: 100%; /* 화면 높이에 맞춤 */
    flex: 1; /* 남은 영역을 차지 */
    background-color: #fff; /* 필요에 따라 배경색 지정 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 컴포넌트에 그림자 추가 */
}

/* 알림 */
.notifications-content h3 {
    font-size: 20px; /* 글자 크기 */
    padding: 10px 15px;
}

/* 왼쪽 사이드바와 겹침 방지 */
.notifications-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* 컨텐츠를 가로 전체로 확장 */
}

/* 알림 목록 스타일 */
.notifications-content li {
    font-size: 13px; /* 글자 크기 */
    padding: 10px 15px; /* 내부 여백 */
    margin-bottom: 10px; /* 항목 간 간격 */
    border-bottom: 0.5px solid #ddd; /* 하단 구분선 */
    box-sizing: border-box; /* 구분선을 포함한 크기 계산 */
    width: calc(100% - 30px); /* 좌우 패딩(15px씩) 제외 */
    word-break: break-word; /* 긴 텍스트 줄바꿈 */
    line-height: 1.6; /* 줄 간격 설정 */
}


/* 타임스탬프 스타일 */
.timestamp {
    font-size: 0.8em;
    color: gray;
    margin-left: 10px;
}
