.cert-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: Arial, sans-serif;
}

.cert-content{
    max-width: 350px;
    width: 100%; 
    text-align: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
}

/* 내부 콘텐츠 스타일 */
.cert-content > * {
    max-width: 300px; /* 내부 콘텐츠 최대 폭 제한 */
    margin: 0 auto; 
    margin-bottom: 15px;
}

.cert-inputWrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:20px;
    margin-bottom: 15px;
}

.cert-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
    box-sizing: border-box;
    /* margin-bottom: 5px; */
}

.cert-button {
    width: 100%;
    padding: 8px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 3px;
}

.cert-button:disabled{
    background-color: #b2dffc;
}