.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.sidebar {
  /* position: fixed; */
  width: 200px;
  background-color: #fff;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  z-index: 10;
}

.sidebar.collapsed {
  width: 50px;
}

.main-content {
  flex-grow: 1;
  float: left;
  overflow-y: auto;
  padding: 20px;
  padding-left:210px;
  background-color: #f9f9f9;
}

.content {
  width: 100%;
  height: 100%;
  padding-left: 30px;
}

.feed-container {
  /* margin-left: 200px; */
  padding-left: 50px;
  flex-grow: 1;
  padding: 20px;
  background-color: #fafafa;
  transition: margin-left 0.3s ease;
}

.sidebar.collapsed ~ .feed-container {
  margin-left: 50px;
}

.sidebar.collapsed ~ .main-content {
  padding-left: 70px;
}

@media (max-width: 768px) {
  .feed-container {
    margin-left: 50px;
    padding: 10px;
  }
}
