.chatroom-page {
  margin-left: 55px;
  align-items: flex-start;
  overflow: hidden;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.chatroom-content {
  max-width: 500px;
  height: 100%;
  overflow-y: auto;
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: overflow 0.3s ease;
  position: relative;
}

.new-chat-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.new-chat-button img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  background-color: transparent;
  filter: none;
}

.chatroom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  gap: 2px;
}

.chatroom-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 이미지와 텍스트가 수평으로 정렬되도록 설정 */
  width: 90%;
  padding: 10px 20px;
  background-color: #ffffff36;
  color: #1a1a1a;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* position: relative; */
}

.chatroom-item:hover {
  background-color: #d1d1d1;
}

.chatroom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chat-more-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute; /* 버튼을 절대 위치로 배치 */
  right: 40px;
}

.chatroom-menu {
  background-color: white;
  border: 1px solid #ccc;
  position: absolute;
  right: 80px;
}

.leave-chatroom-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.leave-chatroom-button:hover {
  background-color: #cc0000;
}

.chat-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatroom-item strong {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px; /* 텍스트가 이미지와 수평으로 맞춰질 수 있도록 조정 */
}
